<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Puuuurfect App</title>
</head>


<body>
    <h1>Welcome to the Cats app!</h1>
    <a class="cats-index-link" href="/cats">Browse Furry Friends</a>
    <img class="cat-pic1"
        src="https://img.freepik.com/premium-photo/abstract-background-with-cat-sunglasses-laying-sand-cute-orange-kitty-sea-beach-close-up-summer-vacation-modern-wallpaper-horizontal-illustration-banner-design-generative-ai_9209-12697.jpg?w=1060"
        alt="cat with sunglasses" />
    <p>An app for looking at cute cats.</p>
</body>

</html>