<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Cats Index</title>
</head>

<body>
    <div class="index-header-div">
      <h1>All Cats</h1>
      <a class="add-cat" href="/cats/new">Add cat</a>
    </div>
    <ul>
      <% cats.forEach((cat)=> { %>
      <li>
        <a class="cat-cards" href="/cats/<%=cat._id%>">
          <%= cat.name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>

</html>