<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create a Cat</title>
  </head>
<body>
    <h1>Create a New Cat!</h1>
    <a class="index-link-text" href="/cats/">Back to Cats</a>
    <form action="/cats" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />


      <label for="name">Image URL:</label>
      <input type="text" name="image" id="image" />
  
      <button type="submit">Add Cat</button>
    </form>
  </body>
</html>